# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env

.DS_Store
Thumbs.db

# Base de datos
database/*.db

# Excel
uploads/base.xlsx
uploads/*.xlsx

# =========================
# WhatsApp
# =========================
whatsapp/node_modules/
whatsapp/tokens/
whatsapp/*.log

# Mantener estos archivos
!whatsapp/package.json
!whatsapp/package-lock.json
!whatsapp/server.js

.env