<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Doña Flori | Tienda Online</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header class="header">

    <div class="container nav">

        <div class="logo">

            <img
                src="{{ url_for('static', filename='img/logo.png') }}"
                class="logo-img"
                alt="Doña Flori">

            <div class="logo-text">

                <strong>DOÑA FLORI</strong>

                <span>Productos de limpieza para el hogar</span>

            </div>

        </div>

        <nav>

            <a href="/">Inicio</a>

            <a href="/catalogo">Catálogo</a>

        </nav>

    </div>

</header>


<section class="home-banners">

    <div class="container">

        <div class="banner-row">

            <div class="banner-panel">
                <img id="banner1" class="home-banner">
            </div>

            <div class="banner-panel">
                <img id="banner2" class="home-banner">
            </div>

        </div>

        <div class="home-buttons">

            <a href="/catalogo" class="btn-primary">

                Ver catálogo

            </a>

            <a
                href="https://wa.me/51980401073"
                class="btn-primary">

                💬 Contactar

            </a>

        </div>

    </div>

</section>

<script>

const banners = [

    {% for banner in banners %}

    "{{ url_for('static', filename='img/banners/' + banner) }}",

    {% endfor %}

    ];

const img1 = document.getElementById("banner1");
const img2 = document.getElementById("banner2");

if(banners.length){

    let izquierda = 0;
    let derecha = 1;

    function actualizar(){

        img1.src = banners[izquierda];
        img2.src = banners[derecha % banners.length];

    }

    actualizar();

    if(banners.length > 2){

        setInterval(()=>{

            izquierda++;
            derecha++;

            if(izquierda >= banners.length){

                izquierda = 0;

            }

            actualizar();

        },5000);

    }

}

</script>

</body>
</html>