<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Doña Flori | Tienda Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header class="header">
    <div class="container nav">
        <div class="logo">

            <img
                src="{{ url_for('static', filename='img/logo.png') }}"
                alt="Doña Flori"
                class="logo-img">

            <div class="logo-text">

                <strong>DOÑA FLORI</strong>

                <span>Productos de limpieza para el hogar</span>

            </div>

        </div>
        <nav>
            <a href="/">Inicio</a>
            <a href="/catalogo">Catálogo</a>
            <a href="#">Mi pedido</a>
        </nav>
    </div>
</header>

<section class="hero-desktop">

    <div class="container hero-grid">

        <div class="hero-content">

            <h1>
                Todo lo que necesitas para mantener
                tu hogar limpio y desinfectado.
            </h1>

            <p>
                Compra desde cualquier lugar de forma rápida y segura.
                Agrega tus productos al carrito y envía tu pedido en pocos minutos.
            </p>

            <div class="hero-beneficios">

                <div>✔ Productos originales</div>

                <div>✔ Atención personalizada</div>

                <div>✔ Atención rápida</div>

            </div>

            <div class="hero-buttons">

                <a href="/catalogo" class="btn-primary">
                    Ver catálogo
                </a>

                <a href="https://wa.me/51980401073"
                   class="btn-secondary">

                    💬 Contactar

                </a>

            </div>

        </div>

        <div class="hero-image">

            <img
                src="{{ url_for('static', filename='img/logo.png') }}"
                alt="Doña Flori">

        </div>

    </div>

</section>

</body>
</html>